matplotlib==3.10.1
seaborn==0.13.2
plotly==6.0.1
bokeh==3.6.3
altair==5.5.0
plotnine==0.14.5
pygal==3.0.5
holoviews==1.20.2
vispy
mpld3
pandas==2.2.3
numpy==2.2.4
IPython
lxml
PyQt6
altair_saver
selenium==4.29.0
pillow==11.1.0
vl-convert-python
kaleido
cairosvg==2.7.1
dotenv==0.9.9
python-dotenv==1.0.1
pygithub==2.6.1
scipy==1.15.2